.wrapper {
    padding: 20px 0;
}

.select-language {
    @media (min-width: 756px) {
        width: 200px;
    }
}

.form-group {
    position: relative;
}

.drop-country-holder {
    padding: 40px 50px;
    border-radius: 4px;
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: 100%;
    opacity: 0;
    overflow-y: auto;
    height: 300px;
    background-color: #9dadc7;
    transition: 0.5s opacity ease-in-out;
    &.show {
        opacity: 1;
    }
    &.country-error {
        .error-msg {
            opacity: 1;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        transition: 0.5s background-color ease-in-out;
        @media (min-width: 756px) {
            width: 33.33%;
        }
        &.active-country {
            background-color: darken(#9dadc7, 10%);
        }
        &:hover {
            cursor: pointer;
            background-color: darken(#9dadc7, 10%);
        }
    }
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: $white;
        font-size: 20px;
        transition: 0.5s opacity ease-in-out;
        &:hover {
            cursor: pointer;
        }
    }
}

#selected-country {
    margin-bottom: 20px;
    @media (min-width: 756px) {
        margin-bottom: 0;
    }
}

.icon-search {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    font-size: 20px;
    right: 10px;
}

.icon-close {
    opacity: 1;
}

.input-holder {
    position: relative;
    .icon-close {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: 45px;
        font-size: 15px;
        color: $black;
        display: none;
        &:hover {
            cursor: pointer;
        }
    }
    &.active-input {
        .icon-close {
            display: block;
        }
    }
}

.error-msg {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(0%, 0%);
    font-size: 20px;
    color: red;
    width: 350px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s top, opacity, transform ease-in-out;
}